img {
    display: block;
    width: 80%;
    margin: 0 auto;
}
main h1, a, nav, p { 
    /* border: 2px solid blue; */
    text-align: center;
}

footer {
    background-color: steelblue;
    color: white;
    text-align: center;
}