/* does this file work? ID for test */
#test {
    color: aquamarine;
}

/* assignment */
#content {
    max-width: 1600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
nav.a {
    text-align: center;
}

#hero-msg.h1 {
    text-align: center;    
}

#hero-msg.h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main.section {
    text-align: center;
}

#div_background {
    height: 725px;
}

body {
    background-color: aliceblue;
}

header {
    background-color: aliceblue ;
}
nav {
    background-color: #18a60e;
}

nav a:hover {
    background-color:  #051f31;
}

.book {
    background-color: aliceblue;
}

.join {
    background-color: aliceblue;
}

.book:hover {
  background-color:;  
}

.join:hover {
    background-color: aliceblue;
}

#background {
    background-color: aliceblue;
}

.msg {
    background-color: aliceblue;
}

footer {
    background-color: aliceblue;
}