/* does this file work? ID for test */
#test {
    color: aquamarine;
}

/* assignment */
#content {
    max-width: 1600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

nav.a {
    text-align: center;
}

#hero-msg.h1 {
    text-align: center;
}

#hero-msg.h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main.section {
    text-align: center;
}

#div_background {
    height: 725px;
    background-color: yellow;
}

body {
    background-color: #e3f2fd;
}

header {
    background-color: #d1beb0;
}

nav {
    background-color: #18a60e;
    color: black;
}

nav a:hover {
    background-color: whitesmoke;
    color: black;
}

.book {
    background-color: greenyellow;
    color: black;
}

.join {
    background-color: red;
    color: white;
}

.book:hover {
    background-color: grey;
    color: gainsboro;
}

.join:hover {
    background-color: whitesmoke;
    color: black;
}

#div_background {
    height: 725px;
    background-color: blueviolet;
}

.msg {
    background-color: yellowgreen;

}

footer {
    background-color: goldenrod;
}

.home-title {
    color: orange;
}

h4 {
    color: fuchsia
}

.msg h2 {
    color: sienna;
}

.msg p {
    color: maroon;
}

footer h3 {
    color: red;
}

footer a:hover {
    color: green;
}

.icon {
    width: 80px;
}

#hero-img {
    width: 100%;
}